{% extends 'base.html' %}

{% block content %}
<p>Sunflowers and dasies!</p>

<h2>Branches</h2>
<ul>
	{% for branch in branches %}
	<li><a href="{% url branch branch=branch.path %}">{{ branch.name }}</a></li>
	{% endfor %}
</ul>

<h2>Pull Requests</h2>
<ul>
	{% for pull in pulls %}
	<li><a href="{% url pull number=pull.number %}">{{ pull.title }}</a> - {{ pull.user.login }}</li>
	{% endfor %}
</ul>

<h2>Phabricator reviews</h2>
<ul>
    {% for phab in phabs.response %}
    <li><a href="{% url phab id=phab.id %}">D{{ phab.id }} - {{ phab.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
